// COLORS
$primary-color: #ffffff;
$secondary-color: #008ada;

$white-color: #000000;

$dark-grey: #4b4b4b;
$light-grey: #444444;

$dark-blue-text: #d4d4d4; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
